nav{
    background-color: rgb(194, 189, 189);
    padding: 0px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 33%;
    position: relative;
}
nav:hover{
    border-radius: 10px;
    
}
nav a:hover{
    background-color: aqua;
    color: black;
    border-radius: 10px;
    
    text-shadow: 5px 5px 5px black;
    text-decoration: underline black;
    transition: 0.8s;
    
}
nav a::before{
    content:"";
    height: 2px;
    width: calc(100% - 2em);   
    position: absolute;
    background-color: black;
    font-size: 0.5em;
    bottom:1em;
    left: 1em;
    transform: scaleX(0);
    transform-origin:right ;
    transition: transform 3s;
}
nav a:hover::before{
    transform-origin:left;
    transform: scaleX(1);
}
nav a::after{
    content: "szöveg cucc";
    font-size: 0.5em;
}
nav div{
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 25%;
}


ul li:nth-child(even){
    background-color: green;
}
ul li:nth-child(odd){
    background-color: yellow;
}
div{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    width: 33%;
}
div:hover{
    transform: rotate(360deg);
    transition:1s;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    letter-spacing: 2px;
    text-shadow: 5px 5px 8px black;
    text-decoration: underline black;
   
}