body{
    background-color: red;
}

.container{
    display:grid;
    grid-template-columns: auto auto auto;
}
.center{
    border:1px solid black;
}

.left{
    background-color: rgba(0,0,255,0.63);
}
.right{
    background-color: rgba(12,221,221,0.616);
}

/*Képenyő szélesség*/
@media (max-width: 768px){
    body{
    background-color: green;
    }
    .container{
        grid-template-columns: 50% 50%;
    }
    .right{
        grid-column: span 2;
    }
}

@media (max-width:480px){
    .container{
        grid-template-columns: 1fr ;
    }
    .right{
        grid-column: span 1;
    }
}
